<section class="mucreate" ng-controller="MuController">
    <form action="" class="form">
        <div class="form_title">
            <h1>发表</h1>
        </div>
        <div class="form_body">
            <div class="form_line">
                <label for="title" class="form_label">MU标题</label>
                <input type="text" class="form_input" id="title">
            </div>
            <div class="form_line">
                <label for="cover" class="form_label">MU封面</label>
                <input type="file" class="form_input" id="cover">
            </div>
            <div class="form_line">
                <label for="music" class="form_label">MU音乐</label>
                <input type="file" class="form_input" id="music">
            </div>
            <div class="form_line">
                <label for="tag" class="form_label">MU标签</label>
                <input type="text" class="form_input" id="tag" placeholder="多个标签请用#号隔开">
            </div>
            <div class="form_line">
                <label for="from" class="form_label">MU来源</label>
                <input type="text" class="form_input" id="from">
            </div>
        </div>
        <div class="form_footer">
            <input type="submit" value="发表" class="form_btn">
        </div>
    </form>
</section>