<section ng-controller="MuController">
    <ul class="home_waterfall" gallary mus="mus">
        <li class="home_waterfall_item" ng-repeat="mu in mus" ng-style="{width: mu.width + 'px', height: mu.height + 'px'}">
            <a href="" class="galary_cover">
                <img ng-src="{{mu.src}}" alt="">
            </a>
            <a class="galary_btn galary_like" href="javascript:;"></a>
            <a class="galary_btn galary_play" href="javascript:;" ng-class="{galary_play: !mu.playing, galary_pause: mu.playing}" ng-click="player.toggle(mu)"></a>
        </li>
    </ul>
    
    <div class="home_op" ng-class="{hidden: opHidden}">
        <a class="home_op_btn home_op_btn_prev" href=""><span></span>上一页</a>
        <a class="home_op_btn home_op_btn_top" href="javascript:;" ng-click="goTop()"><span></span>顶部</a>
        <a class="home_op_btn home_op_btn_next" href=""><span></span>下一页</a>
    </div>
</section>