<section class="main_section" ng-controller="MuController">
    <div class="mu">
        <header class="mu_header">
            <a href="javascript:;" class="mu_info link on">已采集 10</a>
            <a href="javascript:;" class="mu_info">浏览 96</a>
            <a href="javascript:;" class="mu_info link">
                分享
                <div class="mu_share">
                    <script type="text/javascript">
                    (function(){
                    var p = {
                    url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
                    desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
                    title:'', /*分享标题(可选)*/
                    summary:'', /*分享摘要(可选)*/
                    pics:'', /*分享图片(可选)*/
                    flash: '', /*视频地址(可选)*/
                    site:'', /*分享来源(可选) 如：QQ分享*/
                    style:'101',
                    width:96,
                    height:24
                    };
                    var s = [];
                    for(var i in p){
                    s.push(i + '=' + encodeURIComponent(p[i]||''));
                    }
                    document.write(['<a class="qcShareQQDiv" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank">分享到QQ</a>'].join(''));
                    })();
                    </script>
                    <script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>
                </div>
            </a>
            <a href="#" class="mu_info link right">来自 v.qq.com</a>
        </header>
        <div class="mu_content">
            <video class="mu_vedio" src="/vedio/demo/小哥爆笑口头禅-有点意思哦- 160320 你好 是鹿晗吗_标清.mp4" controls download></video>
            <!--<img src="/img/demo/antman-peyton-reed-returns-to-the-edgar-wright-case-and-reveals-new-images-comicsblogfr-1457761068g4kn8-770x1024.jpg" alt="" class="mu_cover">-->
            <a href="javascript:;" class="mu_btn" ng-show="false" ng-class="{pause: mu.playing, play: !mu.playing}" ng-click="mu.toggle()"></a>
            <a href="#" class="mu_prev"></a>
            <a href="#" class="mu_next"></a>
        </div>
        <div class="mu_more">
            <h2 class="mu_title">蚁人插曲</h2>
            <a href="/mus/down?url=/vedio/demo/小哥爆笑口头禅-有点意思哦- 160320 你好 是鹿晗吗_标清.mp4" class="mu_download" title="下载">下载</a>
            <ul class="mu_tags">
                <li class="mu_tag"><a href="#">#漫威#</a></li>
                <li class="mu_tag"><a href="#">#超级英雄#</a></li>
                <li class="mu_tag"><a href="#">#ant man#</a></li>
            </ul>
        </div>
    </div>
    <div class="muauthor">
        <div class="muauthor_content" ng-class="{scrolling: author.scrolling}">
            <div class="muauthor_info">
                <div class="muauthor_avatar">M</div>
                <div class="muauthor_right">
                    <h2>Maan Ali</h2>
                    <p class="muauthor_time">发表于 2016-3-17 14：00</p>
                </div>
            </div>
            <div>
                <ul class="muauthor_intros">
                    <li class="muauthor_intro">
                        <p class="muauthor_intro_num">176</p>
                        <p class="muauthor_intro_txt">采集</p>
                    </li>
                    <li class="muauthor_intro">
                        <p class="muauthor_intro_num">102</p>
                        <p class="muauthor_intro_txt">粉丝</p>
                    </li>
                </ul>
                <a href="javascript:;" class="muauthor_follow on">已关注</a>
            </div>
        </div>
    </div>
    <audio class="muaudio" id="mu-audio" ng-src="{{mu.src}}"></audio>
</section>

                    <script type="text/javascript">
                    (function(){
                    var p = {
                    url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
                    desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
                    title:'', /*分享标题(可选)*/
                    summary:'', /*分享摘要(可选)*/
                    pics:'', /*分享图片(可选)*/
                    flash: '', /*视频地址(可选)*/
                    site:'', /*分享来源(可选) 如：QQ分享*/
                    style:'101',
                    width:96,
                    height:24
                    };
                    var s = [];
                    for(var i in p){
                    s.push(i + '=' + encodeURIComponent(p[i]||''));
                    }
                    document.write(['<a class="qcShareQQDiv" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank">分享到QQ</a>'].join(''));
                    })();
                    </script>
                    <script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>