.mu {
    float: left;
    width: 720px;
    margin-right: 30px;
    background-color: #fff;
}

.mu_header {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.mu_info {
    display: inline-block;
    padding: 8px 10px;
    border: 2px solid #eee;
    border-radius: 4px;
    cursor: default;
}

.mu_info.right { float: right; }

.mu_info.link { cursor: pointer; }

.mu_info.link:hover,
.mu_info.on {
    border-color: #d9746c;
    color: #d9746c;
}

.mu_content {
    position: relative;
    line-height: 0;
    text-align: center;
}

.mu_content video { width: 100%; }

.mu_cover { max-width: 100%; }

.mu_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 40px;
    background: #da4a40 center no-repeat;
    border-radius: 4px;
    opacity: .5;
    transition: all .2s;
}
.mu_btn:hover { opacity: 1; }
.mu_btn.play { background-image: url(/img/iconfont-play.png); }
.mu_btn.pause { background-image: url(/img/iconfont-pause.png); }

.mu_prev,
.mu_next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    margin-top: -30px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    background: rgba(0, 0, 0, .2) center no-repeat;
    transition: all .2s;
}

.mu_prev:hover,
.mu_next:hover { border-color: rgba(255, 255, 255, .5); }

.mu_prev {
    left: 10px;
    background-image: url(/img/iconfont-prev.png);
}

.mu_next {
    right: 10px;
    background-image: url(/img/iconfont-next.png);    
}

.mu_more {
    position: relative;
    padding: 25px;
}

.mu_title { margin-bottom: 10px; }

.mu_download {
    position: absolute;
    top: 25px;
    right: 25px;
    padding-left: 27px;
    line-height: 27px;
    background: 5px center/16px no-repeat url(/img/iconfont-download.png);
    transition: all .2s;
    opacity: .5;
}

.mu_download:hover { opacity: .8; }

.mu_tag {
    display: inline-block;
    background-color: #da4a40;
    border-radius: 4px;
}

.mu_tag:hover { background-color: #f25246; }

.mu_tag a {
    display: block;
    padding: 6px 10px;
    color: #fff;
}

/*作者栏*/
.muauthor {
    float: left;
    width: 250px;
}

.muauthor_content {
    position: fixed;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    transition: all .2s;
}
.muauthor_content.scrolling {
    margin-top: -50px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.muauthor_info {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.muauthor_avatar {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 50%;
    color: #d9746c;
    line-height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.muauthor_right { overflow: hidden; }

.muauthor_time { color: #888; }

.muauthor_follow {
    display: block;
    padding: 8px 10px;
    border: 2px solid #eee;
    border-radius: 4px;
    text-align: center
}
.muauthor_follow:hover,
.muauthor_follow.on {
    border-color: #d9746c;
    color: #d9746c;
}

.muauthor_intros {
    display: flex;
    padding: 15px 0;
    color: #666;
}

.muauthor_intro {
    flex: auto;
    text-align: center;
}

.muauthor_intro_num {
    font-size: 2.5em;
    font-weight: bold;
}

.muauthor_intro_txt { color: #aaa; }

/*发表*/
.mucreate {
    margin-top: 60px;
    overflow: hidden;
}