@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1459069981_1480856.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1459069981_1480856.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1459069981_1480856.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1459069981_1480856.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1459069981_1480856.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

body {
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol { list-style: none; }

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #333;
}


.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

.main_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .2s;
}

.main_nav {
    float: right;
    margin: 16px 0 16px 50px;
    line-height: 32px;
    transition: all .2s;
}
.main_nav.left {
    float: left;
    margin-left: 10px;
}

.main_nav a { display: inline-block; }
.main_nav_discover {
    position: relative;
    padding: 0 10px 0 15px;
    background-color: #eee;
    border-radius: 2px;
}
.main_nav_search {
    width: 391px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
}

.main_nav a .iconfont { vertical-align: -2px; }

.main_nav span {
    margin: 0 5px;
    color: #ddd;
}

.main_title {
    float: left;
    width: 224px;
    height: 64px;
    background-image: url(/img/logo.png);
    background-size: cover;
    font-size: 0;
    transition: all .2s;
}

.main_section {
    width: 1000px;
    margin: 120px auto;
    overflow: hidden;
}

/*播放器*/
.main_player {
    float: right;
    padding: 0 5px 0 15px;
    margin: 16px 0;
    background-color: #eee;
    border-radius: 2px;
    line-height: 32px;
    font-family: sans-serif;
    color: #888;
    transition: all .2s;
}

.main_player_btn {
    float: right;
    width: 32px;
    height: 32px;
    background: center no-repeat;
    transition: all .2s;
    opacity: .5;
}
.main_player_btn:hover { opacity: .8; }
.main_player_btn.play { background-image: url(/img/iconfont-play-sm.png); }
.main_player_btn.pause { background-image: url(/img/iconfont-pause-sm.png); }

.main_header.sm { padding: 5px 10px; }
.main_header.sm .main_title { width: 112px; height: 32px; }
.main_header.sm .main_nav { margin-top: 0; margin-bottom: 0; }
.main_header.sm .main_player { margin: 0; }

/*搜索框*/
.main_search {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main_search textarea {
    width: 100%;
    height: 100%;
    padding: .2em;
    box-sizing: border-box;
    border: 0;
    background-color: rgba(255, 255, 255, .9);
    font-size: 10em;
    font-weight: bold;
    font-family: inherit;
    color: #555;
}

.main_search a {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    background-image: url(/img/iconfont-guanbi.png);
    transition: all .2s;
    opacity: .5;
}

.main_search a:hover { opacity: 1; }

/*发现*/
.main_discover {
    position: absolute;
    top: 42px;
    left: 0;
    width: 33em;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .2s;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
}
.main_discover.showed {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.main_discover_item {
    float: left;
    position: relative;
    width: 11em;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: all .2s;
}
.main_discover_item.on {
    color: #da4a40;
    background-color: #f8f8f8;
}
.main_discover_item:hover,
.main_discover_item.on:hover { background-color: #f2f2f2; }

.main_discover_item span {
    position: absolute;
    top: 50%;
    right: 5px;
    line-height: 28px;
    padding: 0 10px;
    margin: -14px 0 0 0;
    border-radius: 4px;
    background-color: #ddd;
    color: #666;
    font-size: 12px;
}
.main_discover_item.on span {
    color: #fff;
    background-color: #da4a40;
}

.main_discover_item span:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    border: 5px solid transparent;
    border-right-color: #ddd;
    margin-top: -5px;
}
.main_discover_item.on span:before { border-right-color: #da4a40; }

/*等高瀑布流*/
.home_waterfall { padding-top: 84px; }
.home_gallary { overflow: hidden; }
.home_waterfall_item { float: left; position: relative; }
.home_waterfall_item .galary_cover:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; transition: all .2s; }
.home_waterfall_item:hover .galary_cover:before { background-color: rgba(0, 0, 0, .5); }
.home_waterfall_item img { width: 100%; }
.galary_btn { position: absolute; top: 10px; left: 10px; width: 30px; height: 30px; border-radius: 2px; background: center no-repeat #DA4A40; transition: all .4s; opacity: 0; transform: translateY(10px); }
.galary_btn:hover { background-color: #e54d43; }
.galary_like { background-image: url(/img/iconfont-heart.png); }
.galary_play { background-image: url(/img/iconfont-play.png); background-size: 16px; left: 52px; }
.galary_pause { background-image: url(/img/iconfont-pause.png); background-size: 16px; left: 52px; }
.home_waterfall_item:hover .galary_btn { opacity: 1; transform: translateY(0); }

.home_op { position: fixed; right: 20px; bottom: 0; transition: all .2s; }
.home_op.hidden { transform: translateY(100%); }
.home_op_btn { position: relative; display: inline-block; width: 5em; margin: 0 2px; border: 1px solid #eee; background-color: #fff; padding: 25px 0 5px; border-radius: 2px 2px 0 0; text-align: center; box-shadow: 0 2px 10px rgba(0,0,0,.1); }
.home_op_btn:hover { color: #da4a40; }
.home_op_btn span { position: absolute; top: 5px; left: 50%; width: 16px; height: 16px; margin-left: -8px; background-image: url(/img/iconfont-top.png); }
.home_op_btn:hover span { background-image: url(/img/iconfont-top-red.png); }
.home_op_btn_prev span { transform: rotate(-90deg); }
.home_op_btn_next span { transform: rotate(90deg); }

/*表单样式*/
/*body { margin: 0; background-color: #f8f8f8; color: #666; line-height: 2; font-size: 14px; }*/
/*a { text-decoration: none; color: #888; }*/
/*a:hover { color: #da4a40; }*/
.form { width: 600px; margin: 50px auto; border: 1px solid #bbb; border-radius: 5px; background-color: #fff; font-size: 14px; overflow: hidden; }
.form_title { padding: 10px; border-bottom: 1px solid #eee; text-align: center; }
.form_title h1 { font-size: 28px; color: #555; }
.form_body { padding: 15px; border-bottom: 1px solid #eee; }
.form_footer { padding: 15px; background-color: #f8f8f8; text-align: right; }
.form_line { margin-bottom: 15px; }
.form_label { display: block; line-height: 2; font-weight: bold; }
.form_input { display: block; width: 100%; padding-left: .5em; padding-right: .5em; box-sizing: border-box; border: 1px solid #eee; border-radius: 3px; background-color: #f8f8f8; line-height: 2.5; overflow: hidden; }
.form_input.clickable { cursor: pointer; }
.form_input.nopadding { padding: 0; }
.form_input.upload_src { text-align: center; color: #bbb; padding: 50px 0; }
.form_input.upload_src.on { color: #da4a40; }
.form_input.upload_src .iconfont { display: block; font-size: 48px; line-height: 1; }
.form_input img { display: block; max-width: 100%; max-height: 500px; margin: auto; }
.form_btn { width: 100%; padding: 0 1.5em; line-height: 2.5; border: 0; border-radius: 3px; background-color: #da4a40; color: #fff; font-family: inherit; font-size: inherit; font-weight: bold; cursor: pointer; }
.form_btn:hover { background-color: #e54d43; }
.logo { width: 224px; height: 64px; margin: 0 auto; background-image: url(/img/logo.png); color: transparent; }