<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="/mu/mu.css">
    <link rel="stylesheet" href="/users/user.css">
</head>

<body ng-controller="appController" ng-click="discover.hide()">
    <header class="main_header" ng-class="{sm: headerSm}">
        <nav class="main_nav" ng-show="!authentication.user">
            <a href="/signin">登录</a>
            <span>|</span>
            <a href="/signup">注册</a>
        </nav>
        <nav class="main_nav" ng-show="authentication.user">
            <a href="/#!/mus/create">发表</a>
            <span>|</span>
            <a href="/#!/users/mine">个人中心</a>
            <span>|</span>
            <a href="/signout">退出</a>
        </nav>
        <div class="main_player" ng-show="player.mu">
            <a href="javascript:;" class="main_player_btn" ng-class="{play: !player.playing, pause: player.playing}" ng-click="player.toggle(player.mu)"></a>
            <span ng-bind="player.mu.title"></span>
            <audio ng-src="{{player.mu.music}}" id="main-audio"></audio>
        </div>
        <a href="/#!/"><h1 class="main_title">InspirationMU</h1></a>
        <nav class="main_nav left">
            <a class="main_nav_discover" href="javascript:;" ng-click="discover.toggle($event)">
                发现<i class="iconfont">&#xe600;</i>
                <ul class="main_discover" ng-class="{showed: discover.showed}">
                    <li class="main_discover_item">流行<span>10</span></li>
                    <li class="main_discover_item">摇滚<span>10</span></li>
                    <li class="main_discover_item">民谣<span>10</span></li>
                    <li class="main_discover_item">电子<span>10</span></li>
                    <li class="main_discover_item on">舞曲<span>10</span></li>
                    <li class="main_discover_item">说唱<span>10</span></li>
                    <li class="main_discover_item">轻音乐<span>10</span></li>
                    <li class="main_discover_item">爵士<span>10</span></li>
                    <li class="main_discover_item">乡村<span>10</span></li>
                    <li class="main_discover_item">R&B/Soul<span>10</span></li>
                    <li class="main_discover_item">古典<span>10</span></li>
                    <li class="main_discover_item">民族<span>10</span></li>
                    <li class="main_discover_item">英伦<span>10</span></li>
                    <li class="main_discover_item">金属<span>10</span></li>
                    <li class="main_discover_item">朋克<span>10</span></li>
                    <li class="main_discover_item">蓝调<span>10</span></li>
                    <li class="main_discover_item">雷鬼<span>10</span></li>
                    <li class="main_discover_item">世界音乐<span>10</span></li>
                    <li class="main_discover_item">拉丁<span>10</span></li>
                    <li class="main_discover_item">另类/独立<span>10</span></li>
                    <li class="main_discover_item">New Age<span>10</span></li>
                    <li class="main_discover_item">古风<span>10</span></li>
                    <li class="main_discover_item">后摇<span>10</span></li>
                    <li class="main_discover_item">Bossa Nova<span>10</span></li>
                </ul>
            </a>
            <a class="main_nav_search" href="javascript:;" ng-click="search.toggle()">
                <i class="iconfont">&#xe601;</i>搜索
            </a>
        </nav>
    </header>

    <section ng-view></section>

    <div class="main_search" ng-show="search.showed">
        <textarea placeholder="search"></textarea>
        <a href="javascript:;" ng-click="search.toggle()"></a>
    </div>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

    <script src="/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <!--<script src="/articles/articles.client.module.js"></script>
    <script src="/articles/controllers/articles.client.controller.js"></script>
    <script src="/articles/services/articles.client.service.js"></script>
    <script src="/articles/config/articles.client.routes.js"></script>-->

    <!--<script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/example/controller/example.client.controller.js"></script>
    <script type="text/javascript" src="/example/config/example.client.routes.js"></script>-->

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
    <script type="text/javascript" src="/users/config/users.client.routes.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

    <script src="/mu/mu.client.module.js"></script>
    <script src="/mu/mu.client.route.js"></script>
    <script src="/mu/mu.client.controller.js"></script>
    <script src="/mu/mu.client.directive.js"></script>
    <script src="/mu/services/mus.client.service.js"></script>

    <script type="text/javascript" src="/application.js"></script>
</body>

</html>