<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="/mu/mu.css">
    <link rel="stylesheet" href="/users/user.css">
</head>

<body ng-controller="appController">
    <header class="main_header" ng-class="{sm: headerSm}">
        <nav class="main_nav" ng-show="!authentication.user">
            <a href="/signin">登录</a>
            <span>|</span>
            <a href="/signup">注册</a>
        </nav>
        <nav class="main_nav" ng-show="authentication.user">
            <a href="/#!/mus/create">发表</a>
            <span>|</span>
            <a href="/#!/users/mine">个人中心</a>
            <span>|</span>
            <a href="/signout">退出</a>
        </nav>
        <div class="main_player" ng-show="player.mu">
            <a href="javascript:;" class="main_player_btn" ng-class="{play: !player.playing, pause: player.playing}" ng-click="player.toggle(player.mu)"></a>
            <span ng-bind="player.mu.title"></span>
            <audio ng-src="{{player.mu.music}}" id="main-audio"></audio>
        </div>
        <a href="/#!/"><h1 class="main_title">InspirationMU</h1></a>
    </header>

    <section ng-view></section>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <!--<script src="/articles/articles.client.module.js"></script>
    <script src="/articles/controllers/articles.client.controller.js"></script>
    <script src="/articles/services/articles.client.service.js"></script>
    <script src="/articles/config/articles.client.routes.js"></script>-->

    <!--<script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/example/controller/example.client.controller.js"></script>
    <script type="text/javascript" src="/example/config/example.client.routes.js"></script>-->

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
    <script type="text/javascript" src="/users/config/users.client.routes.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
    
    <script src="/mu/mu.client.module.js"></script>
    <script src="/mu/mu.client.route.js"></script>
    <script src="/mu/mu.client.controller.js"></script>
    <script src="/mu/mu.client.directive.js"></script>

    <script type="text/javascript" src="/application.js"></script>
</body>

</html>